@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans/NotoSans-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans/NotoSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans/NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans/NotoSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-CondensedThin.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-CondensedLight.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-CondensedExtraLight.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-Condensed.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-CondensedSemiBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('./fonts/noto-sans-condensed/NotoSans-CondensedBold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/roboto_condensed/RobotoCondensed-Light.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/roboto_condensed/RobotoCondensed-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/roboto_condensed/RobotoCondensed-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@media (min-width: 768px) {
  .container.account-card-container {
    max-width: 580px;
  }
}

@media (min-width: 992px) {
  .container.account-card-container {
    max-width: 905px;
  }
}

@media (min-width: 1401px) {
  .container.account-card-container {
    max-width: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container.acc-details-container {
    max-width: 1200px;
  }
}

.btn {
  font-family: 'Noto Sans';
  padding-left: 30px;
  padding-right: 30px;
}
.btn.bordered {
  border-radius: 8px;
  padding: 4px 26px;
  font-size: 16px;
  height: 50px;
  font-family: 'Noto Sans';
  font-size: 16px;
  border-width: 1px !important;
  border-style: solid !important;
  background: transparent !important;
}
.btn.bordered:hover {
  opacity: 0.8;
}
.btn.rounded {
  border-radius: 50px !important;
}
.btn.btn-primary {
  box-shadow: none !important;
  outline: none;
  border: 1px solid #549aec;
  background-color: #549aec;
}
.btn.btn-primary.bordered {
  color: #549aec !important;
}
.btn.btn-primary:hover {
  background-color: #4b89ca;
}
.btn.btn-dark {
  border: 2px solid #679ed2;
  background-color: #000;
}
.btn.btn-dark:hover {
  background-color: #3b4c5a;
}

.clipboard-btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0px;
  background: none;
  border: 0;
  box-shadow: none !important;
}

body {
  background-color: #000;
}

.blur {
  filter: blur(3px);
}

.bg-dark {
  background-color: #1e1e1e !important;
}

.bg-dark-light {
  background-color: #313131 !important;
}

.page-title {
  padding: 60px 0;
}
.page-title .title {
  letter-spacing: 4px;
  font-family: 'Roboto Condensed';
  font-size: 36px;
}
@media (max-width: 991px) {
  .page-title .title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .page-title .title {
    font-size: 22px;
  }
}

.avatar-selector {
  max-width: 750px;
  margin: auto;
}
.avatar-selector .col.identicon-refresh {
  max-width: 60px;
}
.avatar-selector .col.identicon-refresh img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.avatar-selector .col .identicon {
  padding: 0;
  margin: 0;
}
.avatar-selector .col .identicon li {
  display: inline-block;
}
.avatar-selector .col .identicon li .form-radio-label label {
  cursor: pointer;
}
.avatar-selector .col .identicon li .form-radio-label label .radio-holder {
  position: relative;
  display: inline-block;
  margin: 0px 20px;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:not(:checked),
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:not(:checked)
  + span,
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:checked
  + span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:not(:checked)
  + span:before,
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:not(:checked)
  + span:after {
  border: 2px solid #9f9f9f;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:not(:checked)
  + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:checked
  + span:after {
  background-color: #5ea5ee;
  transform: scale(0.5);
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:checked
  + span:after,
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']:checked
  + span:before {
  border: 2px solid #5ea5ee;
}
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']
  + span:before,
.avatar-selector
  .col
  .identicon
  li
  .form-radio-label
  label
  .radio-holder
  input[type='radio']
  + span:after {
  content: '';
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}
.avatar-selector .col .identicon li .form-radio-label label .identicon-holder {
  display: inline-block;
}

.no-capture img {
  margin-bottom: 24px;
  width: 60px;
}

.no-capture h2,
.no-capture p {
  font-family: 'Roboto Condensed';
}

.no-capture h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.no-capture p {
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  max-width: 560px;
  margin: auto;
}

.acc-footer {
  padding-top: 40px;
  padding-bottom: 0;
}
.acc-footer p {
  margin-bottom: 80px;
  font-family: 'Noto Sans';
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .acc-footer p {
    margin-bottom: 60px;
    font-size: 20px;
  }
}
.acc-footer label {
  margin-bottom: 30px;
  font-family: 'Noto Sans';
  font-size: 24px;
}
@media (max-width: 767px) {
  .acc-footer label {
    font-size: 22px;
  }
}
.acc-footer .input-holder {
  position: relative;
}
.acc-footer .input-holder i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #686868;
}
.acc-footer .input-holder input {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 22px;
  background-position: left center;
  padding-left: 38px;
  border: 0px;
  border-bottom: 1px solid #383838;
  color: #fff;
  box-shadow: none;
  border-radius: 0px;
}
.acc-footer .input-holder input::-webkit-input-placeholder,
.acc-footer .input-holder input::-moz-placeholder,
.acc-footer .input-holder input:-ms-input-placeholder,
.acc-footer .input-holder input:-moz-placeholder {
  color: #8e8e8e !important;
}
.acc-footer .input-holder input::placeholder {
  color: #8e8e8e !important;
}
.acc-footer .input-holder input:focus {
  border-bottom: 1px solid #dcdcdc;
}
.acc-footer .input-holder input:focus + i {
  color: #fff;
}

.modal-dialog {
  margin-top: 170px;
}

.text-danger {
  color: #f41d00 !important;
}

.text-primary {
  color: #549aec !important;
}

.landing-banner {
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.landing-banner #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
}
.landing-banner .container {
  z-index: 1;
  position: relative;
}
.landing-banner .main-row {
  align-items: center;
  min-height: 400px;
  height: calc(100vh - 105px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.landing-banner .main-row > .col {
  margin-top: -52.5px;
}
.landing-banner h2,
.landing-banner h3 {
  font-family: 'Noto Sans Condensed';
  margin-bottom: 72px;
}
@media (max-width: 991px) {
  .landing-banner h2,
  .landing-banner h3 {
    margin-bottom: 44px;
  }
}
.landing-banner h2 {
  letter-spacing: 3px;
  font-size: 63px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .landing-banner h2 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .landing-banner h2 {
    letter-spacing: 1px;
    font-size: 36px;
  }
}
.landing-banner h3 {
  letter-spacing: 0.6px;
  font-size: 30px;
  font-weight: 100;
}
@media (max-width: 991px) {
  .landing-banner h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .landing-banner h3 {
    font-size: 16px;
  }
}
.landing-banner .btn {
  text-transform: uppercase;
  margin: 0 40px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 20px;
}
@media (max-width: 991px) {
  .landing-banner .btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .landing-banner .btn {
    font-size: 14px;
    margin: 0 14px;
    margin-bottom: 20px;
  }
}

header {
  background: #000;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .nav-holder {
  padding: 20px 0;
}
header nav {
  overflow: hidden;
  max-width: 1140px;
  margin: auto;
}
header nav .logo {
  height: 30px;
}
header nav .navbar-collapse {
  position: relative;
}
@media (max-width: 767px) {
  header nav .navbar-collapse:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0px;
    background: #383838;
    z-index: -1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item {
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  header nav .navbar-collapse .navbar-nav .nav-item {
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  header nav .navbar-collapse .navbar-nav .nav-item {
    margin-left: 40px;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item:nth-child(1) {
  margin-left: 0 !important;
  border-top: 0px !important;
}
@media (max-width: 767px) {
  header nav .navbar-collapse .navbar-nav .nav-item {
    border-top: 1px solid #000;
    font-size: 14px;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  transition: 0.3s all;
  color: #fff;
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #8e8e8e;
}
@media (max-width: 767px) {
  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
    padding: 10px 0;
  }
}

#footer {
  padding: 0 0 60px;
}
@media (max-width: 575px) {
  #footer .col-md-3 {
    margin-bottom: 15px;
  }
}
#footer .container {
  padding-top: 60px !important;
  border-top: 1px solid #1c1c1c;
}
@media (min-width: 992px) {
  #footer .container {
    max-width: 890px;
  }
}
@media (max-width: 575px) {
  #footer .container {
    padding: 0 40px;
  }
}
#footer .menu-title {
  margin-bottom: 20px;
  color: #549aec;
  font-family: 'Noto Sans';
  font-size: 20px;
}
#footer .menu {
  padding: 0;
}
#footer .menu .menu-item {
  margin-bottom: 4px;
}
#footer .menu .menu-item .menu-link {
  color: #fff;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 767px) {
  #footer .menu .menu-item .menu-link {
    font-size: 14px;
  }
}

#account-card {
  margin-left: -7px;
  margin-right: -7px;
}
@media (min-width: 992px) and (max-width: 1400px) {
  #account-card .col-lg-3 {
    -ms-flex: 33.33% !important;
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }
}
#account-card .main-col {
  padding: 0 7px;
  margin-bottom: 14px;
}
#account-card .accounts-holder {
  height: 100%;
  padding: 46px 0;
  background-color: #f8f8f8;
}
@media (max-width: 767px) {
  #account-card .accounts-holder {
    margin: auto;
    max-width: 282px;
  }
}
#account-card .accounts-holder .avatar {
  margin-bottom: 28px;
}
#account-card .accounts-holder .avatar .avatar-icon {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0px 6px 8.73px 0.27px rgba(0, 0, 0, 0.14);
  position: relative;
}
#account-card .accounts-holder .avatar .avatar-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
}
#account-card .accounts-holder .title,
#account-card .accounts-holder p {
  font-family: 'Roboto Condensed';
}
#account-card .accounts-holder .title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: bold;
}
#account-card .accounts-holder .account-no {
  padding: 0 10%;
  text-align: left;
}
#account-card .accounts-holder .account-no i {
  color: #000;
  cursor: pointer;
  margin-right: 3px;
}
#account-card .accounts-holder .account-no p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #549aec;
}

#account-information .acc-details {
  padding: 30px 28px;
}
#account-information .acc-details .acc-name-holder {
  margin-bottom: 26px;
}
#account-information .acc-details .acc-name-holder .acc-name {
  display: inline-block;
  padding-left: 30px;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 26px;
}
#account-information .acc-details .address {
  color: #549aec;
  margin-bottom: 22px;
  font-family: 'Roboto Condensed';
  font-size: 24px;
}
#account-information .acc-details .account-no {
  text-align: left;
}
#account-information .acc-details .account-no i {
  color: #549aec;
  cursor: pointer;
  margin-right: 18px;
}
#account-information .acc-details .account-no p {
  font-family: 'Noto Sans';
  font-weight: 200;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#account-information .acc-details .acc-qr {
  text-align: center;
  margin-bottom: 15px;
}
#account-information .acc-details .acc-qr canvas {
  width: 120px;
  height: 120px;
}
#account-information .acc-details .acc-qr img {
  max-width: 180px;
}
@media (min-width: 768px) {
  #account-information .acc-details .acc-qr {
    display: none;
  }
}
@media (min-width: 768px) {
  #account-information .acc-details .col.left-col {
    max-width: calc(100% - 190px);
  }
}
#account-information .acc-details .col.qr-col {
  text-align: right;
  max-width: 190px;
}
@media (max-width: 767px) {
  #account-information .acc-details .col.qr-col {
    display: none;
  }
}

.restore-confirm {
  margin: auto;
  max-width: 795px;
}
.restore-confirm .vault-container {
  padding: 1.5rem 3rem 1rem;
}
@media (max-width: 768px) {
  .restore-confirm .vault-container {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 575px) {
  .restore-confirm .vault-container {
    padding: 1rem;
  }
}
.restore-confirm .vault-container .form-group label {
  color: #fff;
  font-family: 'Noto Sans';
  font-size: 16px;
}
@media (max-width: 768px) {
  .restore-confirm .vault-container .form-group label {
    font-size: 14px;
  }
}
.restore-confirm .vault-container .form-group textarea {
  color: #fff;
  border-color: #484848;
  box-shadow: none;
  outline: none !important;
  background-color: #323232;
}
.restore-confirm .vault-container p {
  margin-bottom: 4px;
  font-family: 'Noto Sans';
  font-size: 16px;
}
@media (max-width: 768px) {
  .restore-confirm .vault-container p {
    font-size: 14px;
  }
}

#acc-details {
  padding: 30px 0;
  font-family: 'Noto Sans';
}
#acc-details .avatar {
  background: #fff;
  border-radius: 100%;
  height: 75px;
  width: 75px;
  margin-bottom: 14px;
  display: inline-block;
  position: relative;
}
#acc-details .avatar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#acc-details .acc-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 22px;
}
#acc-details .account-no {
  padding: 0 10%;
  text-align: left;
}
#acc-details .account-no i {
  color: #549aec;
  cursor: pointer;
  margin-right: 3px;
}
#acc-details .account-no p {
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
#acc-details .account-no p .btn {
  margin-right: 6px;
}
#acc-details .info {
  text-align: center;
  margin-bottom: 20px;
}
#acc-details .info p {
  font-weight: 300;
  padding: 5px 0;
  margin-bottom: 8px;
  color: #fff;
  background: #323232;
}
#acc-details .qr {
  margin-bottom: 30px;
  text-align: center;
}
#acc-details .ftm-no p {
  width: calc(100% - 20%);
  text-align: center;
  margin: auto;
  color: #fff;
  border: 1px solid #4a4a4a;
  background: #323232;
  padding: 2rem 2rem;
  border-radius: 8px;
  font-size: 22px;
}
#acc-details .ftm-no p span {
  font-size: 80%;
  font-weight: 300;
}

#acc-cards {
  color: #fff;
  font-family: 'Noto Sans';
}
#acc-cards .card {
  margin-top: 10px;
}
#acc-cards .card .row {
  margin: 0;
}
#acc-cards .card .col {
  padding: 0;
}
#acc-cards .date-col {
  text-align: center;
  max-width: 60px;
  border-right: 1px solid #4a4a4a;
}
#acc-cards .acc-no-col p {
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #549aec;
}
#acc-cards .acc-no-col p span {
  color: #fff;
}
#acc-cards .time-col p {
  white-space: nowrap;
  font-size: 14px;
}
#acc-cards .btn-col .btn {
  color: #fff;
}
#acc-cards .btn-col .btn.btn-green {
  background: #6abb10;
}
#acc-cards .btn-col .btn.btn-red {
  background: #ff2627;
}

#account-process {
  max-width: 700px;
  margin: auto;
  position: relative;
}
@media (max-width: 991px) {
  #account-process {
    max-width: 576px;
  }
}
@media (max-width: 767px) {
  #account-process {
    max-width: 400px;
  }
}
#account-process.restore-account {
  max-width: 400px;
}
@media (max-width: 991px) {
  #account-process.restore-account {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  #account-process.restore-account {
    max-width: 270px;
  }
}
#account-process.restore-account .c-2 h2 {
  padding-right: 18px;
}
@media (max-width: 767px) {
  #account-process.restore-account .c-2 h2 {
    padding-right: 21px;
  }
}
#account-process.restore-account .process-bar .holder .element {
  width: 50%;
}
#account-process .col {
  padding: 0;
}
#account-process .col.c-1 h2 {
  transform: translateX(-6%);
}
@media (max-width: 372px) {
  #account-process .col.c-1 h2 {
    text-align: center;
  }
}
#account-process .col.c-3 h2 {
  padding-right: 18px;
}
@media (max-width: 767px) {
  #account-process .col.c-3 h2 {
    padding-right: 21px;
  }
}
#account-process .col svg {
  transform: scale(0.9);
  height: 60px;
  width: 81px;
  fill: #8f8f8f;
}
@media (max-width: 767px) {
  #account-process .col svg {
    transform: scale(0.5);
  }
}
@media (max-width: 500px) {
  #account-process .col svg {
    transform: scale(0.5);
  }
}
#account-process .col h2 {
  color: #fff;
  margin-top: 10px;
  font-family: 'Roboto Condensed';
  font-size: 16px;
}
@media (max-width: 767px) {
  #account-process .col h2 {
    font-size: 14px;
  }
}
#account-process .process-bar {
  position: absolute;
  top: 20px;
  left: 40px;
  right: 40px;
  height: 17px;
  z-index: -1;
}
@media (max-width: 767px) {
  #account-process .process-bar {
    top: 18px;
    height: 12px;
  }
}
@media (max-width: 767px) {
  #account-process .process-bar {
    top: 16px;
    height: 8px;
  }
}
#account-process .process-bar .holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#account-process .process-bar .holder .element {
  position: relative;
  width: 25%;
  height: 100%;
  display: inline-block;
  transform: skew(-35deg);
}
#account-process .process-bar .holder .element::before {
  transition: 0.3s all;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #5ea5ee;
}
#account-process .process-bar .holder .element.e-1 {
  background: #8f8f8f;
}
#account-process .process-bar .holder .element.e-2 {
  background: #b6b6b6;
}
#account-process .process-bar .holder .element.e-3 {
  background: #8f8f8f;
}
#account-process .process-bar .holder .element.e-4 {
  background: #b6b6b6;
}
#account-process.t-1 .c-1 h2 {
  color: #5ea5ee;
}
#account-process.t-1 .c-1 svg {
  fill: #5ea5ee;
}
#account-process.t-1 .element.e-1::before {
  left: -1px;
  right: 0;
}
#account-process.t-2 .c-2 h2 {
  color: #5ea5ee;
}
#account-process.t-2 .c-2 svg {
  transition-delay: 0.3s;
  fill: #5ea5ee;
}
#account-process.t-2 .element.e-3::before {
  transition-delay: 0.3s;
}
#account-process.t-2 .element.e-2::before,
#account-process.t-2 .element.e-3::before {
  left: -1px;
  right: 0;
}
#account-process.t-3 .c-3 h2 {
  color: #5ea5ee;
}
#account-process.t-3 .c-3 svg {
  transition-delay: 0.3s;
  fill: #5ea5ee;
}
#account-process.t-3 .element.e-4::before {
  left: -1px;
  right: 0;
}

.wallet-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wallet-bar .title {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 8px 30px;
  margin: 0;
  color: #feffff;
  background-color: #549aec;
  font-family: 'Noto Sans';
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .wallet-bar .title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .wallet-bar .title {
    padding: 7px 18px;
    font-size: 18px;
  }
}

.add-wallet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.add-wallet .title {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  padding: 12px 30px;
  margin: 0;
  color: #feffff;
  background-color: #549aec;
}
@media (max-width: 991px) {
  .add-wallet .title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .add-wallet .title {
    padding: 12px 18px;
    font-size: 20px;
  }
}
.add-wallet .btn {
  position: relative;
  width: 65px;
  color: #1c1c1c;
  border-radius: 0;
  background-color: #fff;
}
.add-wallet .btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-wallet .btn i.fa-plus {
  border: 3px solid;
  padding: 5px;
  border-radius: 100%;
}
.add-wallet .btn i.fa-print {
  font-size: 24px;
}
.add-wallet .btn i.fa-sync-alt {
  font-size: 22px;
}

#mnemonic-collector {
  position: relative;
  max-width: 804px;
  border: 2px dashed #fff;
  border-radius: 8px;
  padding: 54px 64px;
  margin: auto;
}
@media (max-width: 767px) {
  #mnemonic-collector {
    padding: 25px;
  }
}
#mnemonic-collector ul {
  text-align: center;
  padding: 0;
  margin: 0;
  margin: -22px -15px;
}
#mnemonic-collector ul.blur {
  filter: blur(4px);
}
@media (max-width: 767px) {
  #mnemonic-collector ul {
    margin: -15px;
  }
}
@media (max-width: 1400px) {
  #mnemonic-collector ul {
    margin: -6px -15px;
  }
}
#mnemonic-collector ul li {
  margin: 22px 15px;
  display: inline-block;
  color: #549aec;
  font-family: 'Roboto Condensed';
  font-size: 26px;
}
@media (max-width: 767px) {
  #mnemonic-collector ul li {
    margin: 15px;
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  #mnemonic-collector ul li {
    margin: 6px 15px;
  }
}
#mnemonic-collector .blur-overley {
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(103, 103, 103, 0.72);
}
#mnemonic-collector .blur-overley .holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
#mnemonic-collector .blur-overley .holder h2 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 26px;
}
@media (max-width: 576px) {
  #mnemonic-collector .blur-overley .holder h2 {
    font-size: 20px;
  }
}

#mnemonic-selector .bg-dark-light {
  padding-top: 42px;
  padding-bottom: 70px;
}

#mnemonic-selector h2 {
  margin: 55px 0 40px;
  font-family: 'Noto Sans';
  font-size: 24px;
}
@media (max-width: 767px) {
  #mnemonic-selector h2 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  #mnemonic-selector h2 {
    font-size: 18px;
  }
}

#mnemonic-selector .btn {
  border-radius: 8px;
  padding: 4px 26px;
  font-family: 'Noto Sans';
  font-size: 16px;
}

#mnemonic-selector ul {
  padding: 0;
  margin: 0 -8px;
  margin-top: -16px;
}
#mnemonic-selector ul li {
  display: inline-block;
  margin: 0 8px;
  margin-top: 16px;
}

#mnemonic-selector .mnemonic-container,
#mnemonic-selector .mnemonic-selector {
  text-align: center;
  margin: auto;
}

#mnemonic-selector .mnemonic-container {
  max-width: 804px;
  border: 2px dashed #fff;
  min-height: 146px;
  border-radius: 8px;
  padding: 54px 64px;
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  #mnemonic-selector .mnemonic-container {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #mnemonic-selector .mnemonic-container {
    min-height: 98px;
    padding: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  #mnemonic-selector .mnemonic-container {
    padding: 30px 20px;
  }
}

#mnemonic-selector .mnemonic-selector {
  max-width: 727px;
}
#mnemonic-selector .mnemonic-selector ul li.selected .btn {
  box-shadow: none !important;
  background: transparent;
  color: transparent;
  cursor: default;
}
#mnemonic-selector .mnemonic-selector ul li.selected .btn.btn-primary {
  border: 1px solid #549aec !important;
}

.mnemonic-btn {
  padding: 40px 0;
}
.mnemonic-btn .btn {
  height: 50px;
  margin: auto;
  margin-bottom: 24px;
  display: block;
  text-transform: uppercase;
  transition: 0.3s all;
}
.mnemonic-btn .btn:hover {
  opacity: 0.7;
}
.mnemonic-btn .btn.create-wallet {
  color: #549aec;
  border: 2px solid #549aec;
  background: transparent;
}
.mnemonic-btn .btn.cancel {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
@media (max-width: 768px) {
  .mnemonic-btn .btn {
    height: 40px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

#create-account-form .pass-validator {
  margin-top: 0px;
}
@media (min-width: 768px) {
  #create-account-form .pass-validator {
    margin-top: 32px;
  }
}
#create-account-form .pass-validator li {
  font-family: 'Roboto Condensed';
  font-size: 16px;
  color: #fff;
  list-style: none;
}
#create-account-form .pass-validator li .ico {
  height: 16px;
  margin-right: 10px;
}

#create-account-form .form-group {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  #create-account-form .form-group {
    margin-bottom: 24px;
  }
}
#create-account-form .form-group.form-radio-label {
  margin-bottom: 16px;
}

#create-account-form input {
  font-family: 'Roboto Condensed';
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position: left center;
  padding-left: 38px;
  border: 0px;
  border-bottom: 1px solid #383838;
  color: #fff;
  box-shadow: none;
  border-radius: 0px;
}
#create-account-form input::-webkit-input-placeholder,
#create-account-form input::-moz-placeholder,
#create-account-form input:-ms-input-placeholder,
#create-account-form input:-moz-placeholder {
  color: #8e8e8e !important;
}
#create-account-form input::placeholder {
  color: #8e8e8e !important;
}
#create-account-form input:not(:placeholder-shown),
#create-account-form input:focus {
  border-bottom: 1px solid #dcdcdc;
}

.back-next-btn .btn {
  border: 0;
  box-shadow: none !important;
  background: transparent !important;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 26px;
}
.back-next-btn .btn.light {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .back-next-btn .btn {
    font-size: 20px;
  }
}
.back-next-btn .btn:hover,
.back-next-btn .btn:active {
  color: #a9a9a9;
}

#transaction-form .heading {
  font-family: 'Roboto Condensed';
  font-size: 30px;
  margin-bottom: 3rem;
}

#transaction-form .form {
  padding: 24px 0 0;
}
#transaction-form .form label {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
#transaction-form .form input[type='text'],
#transaction-form .form input[type='email'],
#transaction-form .form input[type='password'] {
  color: #fff;
  border: 1px solid #4a4a4a;
  padding-left: 42px;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  background-color: #292929;
  background-repeat: no-repeat;
  background-size: auto 48%;
  background-position: center left 15px;
}
#transaction-form .form .dropdown .toggle-btn {
  position: relative;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  padding-left: 42px;
  text-align: left;
  width: 100%;
  border: 1px solid #4a4a4a;
  color: #fff;
  background-color: #292929;
  background-repeat: no-repeat;
  background-size: auto 48%;
  background-position: center left 15px;
}
#transaction-form .form .dropdown .toggle-btn .ftm {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
#transaction-form .form .dropdown .dropdown-menu {
  width: 100%;
}
#transaction-form .form select {
  padding-left: 42px;
  background-color: #292929;
  background-repeat: no-repeat;
  background-size: auto 48%;
  background-position: center left 15px;
}
#transaction-form .form textarea {
  color: #fff;
  border: 1px solid #4a4a4a;
  background-color: #292929;
}

#coin-overley {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
#coin-overley .background-overley {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
#coin-overley .close-btn {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 30px;
  line-height: 22px;
  font-size: 33px;
  font-weight: 500;
  transition: 0.3s all;
  cursor: pointer;
}
#coin-overley .close-btn:hover {
  opacity: 0.3;
}
#coin-overley .overley-body {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  background: #fff;
  z-index: 2;
  animation: overley-body 0.7s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
#coin-overley .overley-body.closing {
  animation: overley-body-closing 0.4s !important;
}
#coin-overley .overley-body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#coin-overley .overley-body .main-header {
  padding: 26px 30px;
  border-bottom: 1px solid #484848;
}
#coin-overley .overley-body .main-body {
  padding: 26px 30px;
}

@keyframes overley-body {
  from {
    right: -700px;
  }
  to {
    right: 0px;
  }
}

@keyframes overley-body-closing {
  from {
    right: 0px;
  }
  to {
    right: -700px;
    opacity: 0;
  }
}

.modal .modal-backdrop {
  opacity: 0.7;
}

@media (min-width: 576px) {
  .modal .modal-dialog {
    max-width: 600px;
  }
}

.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer {
  padding: 16px 26px;
}

.modal .modal-dialog .modal-content .modal-header {
  padding-top: 26px;
  position: relative;
  border: 0px;
}
.modal .modal-dialog .modal-content .modal-header::before {
  content: '';
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 26px;
  right: 26px;
  background-color: #cecece;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #549aec;
  font-family: 'Noto Sans';
  font-weight: bold;
}
.modal .modal-dialog .modal-content .modal-header button {
  outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 30px 26px;
}
.modal .modal-dialog .modal-content .modal-body p {
  font-family: 'Noto Sans';
  font-weight: 400;
}

.modal .modal-dialog .modal-content .modal-footer {
  background-color: #f7f5f4;
}
.modal .modal-dialog .modal-content .modal-footer .btn {
  text-transform: uppercase;
  font-family: 'Noto Sans';
  font-weight: 300;
}

#print-screen {
  background: #fff;
  max-width: 750px;
  margin: 200px auto 0;
}
#print-screen .row {
  margin: 0;
}
#print-screen .row .col {
  padding: 0;
}
#print-screen .row .col.info {
  -ms-flex: calc(100% - 105px) !important;
  flex: 0 0 calc(100% - 105px) !important;
  max-width: calc(100% - 105px) !important;
}
#print-screen .row .col.info h2 {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}
#print-screen .row .col.info p {
  margin-bottom: 1rem;
  font-family: 'Lato';
  font-size: 16px;
}
#print-screen .row .col.info .qr {
  padding-top: 10px;
  margin-bottom: -7px;
}
#print-screen .row .col.brand {
  background-color: #549aec;
  -ms-flex: 105px !important;
  flex: 0 0 105px !important;
  max-width: 105px !important;
}
#print-screen .row .col.brand .brand-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: 0 0;
}
#print-screen .row .col.brand .brand-holder img {
  height: 37px;
}
#print-screen .row .col.brand .brand-holder p {
  padding-left: 38px;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-size: 13px;
}
