.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media (max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
  @media (min-width: 576px) {
    max-width: 478px;
    margin: 1.75rem auto;
  }

  .modal-content {
  }
  &.send-funds {
    .modal-content {
      border: 1px solid #e5edf3;
    }
  }
  .form-group {
    margin: 0;
  }
  .title {
    font: {
      size: 21.6px;
      family: Helvetica;
    }
  }
  label,
  input {
    color: #5e6875;
    font: {
      size: 14px;
      family: Helvetica;
    }
  }
  input {
    // height: 24px;
    padding: {
      top: 0;
      bottom: 0;
    }
    &:focus {
      box-shadow: none;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
  }
  .success-check {
    position: relative;
    input {
      padding-right: 28px;
    }
    img {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%) scale(0);
      transition: 0.5s all;
    }
    &.success {
      img {
        transform: translateY(-50%) scale(1);
      }
    }
  }
  .withdraw-holder {
    position: relative;
    .value-1,
    .value-2 {
      font: {
        family: Helvetica;
      }
      position: absolute;
      right: 14px;
    }
    .value-1 {
      font: {
        // size: 7.2px;
        size: 12px;
      }
      color: #5e6875;
      top: 50%;
      transform: translateY(-50%);
    }
    .value-2 {
      font: {
        // size: 6.6px;
        size: 12px;
      }
      color: #8d9bae;
      bottom: 3.6px;
    }
  }
  .change {
    position: relative;
    &::before {
      content: '';
      position: absolute;

      width: 11.4px;
      height: 10.52px;
      background: {
        // image: url('../images/icons/icon-change.svg');
      }
      left: 50%;
      transform: translateX(-50%);
      bottom: 7px;
    }
    .input-holder {
      position: relative;
      input {
        padding: {
          right: 42px;
        }
      }
      span {
        position: absolute;
        color: #283d4a;
        opacity: 0.3;
        top: 50%;
        right: 12.1px;
        transform: translateY(-50%);
        font: {
          // size: 9.6px;
          size: 12px;
          family: Helvetica;
        }
      }
      .logo {
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .note {
    font: {
      size: 14px !important;
    }
  }
  .note,
  textarea {
    color: #283d4a;

    font: {
      size: 16px;
      family: Helvetica;
    }
  }
  textarea {
    height: 48.91px;
    &::-webkit-input-placeholder {
      color: rgba(40, 61, 74, 0.3);
    }

    &:-moz-placeholder {
      color: rgba(40, 61, 74, 0.3);
    }

    &::-moz-placeholder {
      color: rgba(40, 61, 74, 0.3);
    }

    &:-ms-input-placeholder {
      color: rgba(40, 61, 74, 0.3);
    }

    color: #283d4a;
  }
  .result {
    .col {
      &:nth-child(1) {
        @include responsive-width(100px);
      }
    }
    p {
      color: #5e6875;
      font: {
        // size: 8.4px;
        size: 12px;
        family: Helvetica;
      }
      span {
        color: #8d9bae;
      }
    }
  }
  .btn {
    border-radius: 4px;
    font: {
      // size: 8px;
      size: 10px;
      family: Helvetica;
    }
  }

  /*---------modal 2 css--------*/

  &.send-check {
    .modal-content {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      //   &::before {
      //     content: '';
      //     width: 100%;
      //     background: {
      //       image: url('../images/backgrounds/modal-pattern.svg');
      //     }
      //     position: absolute;
      //     bottom: -24px;
      //     height: 24px;
      //   }
    }
  }

  .check-send-fields {
    label {
      color: #000;
      font: {
        size: 14px;
        // size: 8px;
        family: Helvetica;
      }
      margin-top: 22px;
      margin-bottom: 11px;
    }
    .form-element-bar {
      background: #707070;
    }
  }

  .error-msg {
    color: #ff0000;
    font: {
      // size: 9px;
      size: 12px;
      family: Helvetica;
    }
  }
}
