* {
  outline: 0px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background: {
    image: url(../images/backgrounds/pattern.svg);
    size: cover;
    position: center;
    color: #f5f8fa;
  }
}
.bg-primary {
  background: {
    color: map-get($color, blue) !important;
  }
}
.bg-gray {
  background: {
    color: #f5f8fa !important;
  }
}
.logo {
  max-height: 35px;
}
.container {
  @media (min-width: 1200px) {
    max-width: 1164px;
  }
}
.cs-container {
  max-width: 847px;
  width: 100%;
  margin: auto;
  position: relative;
  padding-bottom: 75px;
}
.forms-container {
  min-height: 455px;
}
.theme-blue-shadow {
  box-shadow: 0 0 8px 4px rgba(0, 177, 255, 0.1);
  &.inner {
    box-shadow: 0 0 10px 0 rgba(0, 177, 255, 0.39);
  }
}
.progress-theme {
  height: 7px;
  background: {
    color: #f3ecf4;
  }
  .progress-bar {
    background-image: linear-gradient(to right, #3e68ea, #5ebaf7);
  }
  &.r-y-g {
    background-image: linear-gradient(91deg, #ff0000, #e6ff00 53%, #00ff24);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
    }

    .progress-bar {
      z-index: 99;
      background-image: linear-gradient(91deg, #ff0000, #e6ff00 53%, #00ff24);
    }
  }
}

.hide-at-991 {
  @media (max-width: 991px) {
    display: none;
  }
}

strong {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.loader-holder {
  display: inline-block;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.setting-menu{
  left: initial !important;
  right: 0 !important;
} 


.add-wallet-dropdown {
  // position: relative;
  display: inline-block;
}

.add-wallet-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 12px;
  z-index: 1;
}

.add-wallet-dropdown-content-field{
  font-size: 12px;
  color: #000;
  padding: 4px;
}

.add-wallet-dropdown-content-field:hover {
  color:#3e68ea;
  background-color: #f3ecf4;
  cursor: pointer;
}

.unlock-loader-holder {
    top: 65%;
    padding: 12px 16px;
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -47px;
}